:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  .card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    width: 500px;
    margin-bottom: 1rem;
  }
  
  .card-text {
    text-align: left;
    margin-left: 1rem;
  }
  
  .card-text p {
    margin: 0;
  }
  
  .card-text span {
    font-weight: 700;
  }

  .driver-license {
    background-color: #455Eb6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 1rem;
    box-sizing: border-box;
  }

  .license-img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
  }

  .license-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .driver-info {
    color: white;
    text-align: left;
    margin: 0;
  }

  .driver-info p,
  .driver-info h3 {
    margin: 0;
  }

  .logo {
    text-align: right;
    width: 8rem;
    justify-self: end;
  }

  .logo img {
    width: 100%;
  }

}